<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>JS inheritance templating test</title>
	<script type="text/javascript" charset="utf-8" src="/static/jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/jdango/jdango.js"></script>
	<script type="text/javascript" charset="utf-8">
	(function(){
		$(function(){
			$.tpl.init({ url:"/static/jdango/templates/", precompile: [/*templates to precompile*/] }, function(tpl){
				tpl.put('child.html', {template_id:123, amount:10}, '.target')
			});
		})
	})();
	</script>
</head>
<body>
	<h1>Templating test</h1>
	<div class="target"></div>
	
	<br /><br /><br />
	<hr>
	<pre>
Главная задача: сделать наследуемые шаблоны.
Промежуточные шаги:
+ шаблоны в стиле jTemplates &lt;script type=text/html>
+ поддержку разметки в шаблонах
+ подстановку переменных в шаблоны
+ компиляция шаблонов в яваскриптовый код
+ кеширование
+ ПОЧТИ САМОЕ ГЛАВНОЕ: блоки
+ САМОЕ ГЛАВНОЕ: наследование блоков
+ шаблоны в отдельных файлах = асинхронность
+ поддержка {% xxxx %} — неизвестных тагов
+ поддержка {% extends %}
+ поддержка {% include %}
	* сейчас реализовал таким образом, что нужно вручную скомпилировать
	  те шаблоны, которые будут использоваться другими для инклюдов
	  Сделать это просто, поскольку у init теперь есть precompile.
+ поддержка javascript control structures

L8R:
- переписать компиляцию целиком на closures

Документация по методам:
* $.tpl.init({ cache, url, precompile }, callback)
  Инициализация движка
  - cache: стартовое состояние кеша, ключ-значение, которое является функцией function(tpl, ctx) { return html }
  - url: локальный урл для загрузки шаблонов, лучше абсолютный
  - precompile: список шаблонов, которые будут прекомпилированы перед вызовом callback
* $.tpl.put(template, ctx, queryTarget)
  Форматирование шаблона и вставка его в DOM
  - template: название шаблона
  - ctx: хеш-массив для подстановок данных
  - queryTarget: строка для jQuery, в $(target).html(...) будет вставлен результат
* $.tpl.render(template, ctx, callback)
  Аналогично put, только вместо вставки вызывает callback
  - callback: function(result)

Расположение шаблонов
* &lt;script type="text/html" id="templateName" parent="parentTemplateName">...&lt;/script>
* в отдельных файлах (будут загружены асинхронно в момент компиляции), 
  в этом случае имя шаблона = имя файла

Синтаксис шаблонов
* {{key}} — вставляет ctx['key']
* {% extends "parentTemplateName" %} - наследование шаблона из другого, как в Django
* {% block blockName %}...{% endblock %} - блоки для наследования, как в Django
* {% include "templateName" %} - вложенные шаблоны 
  NB: необходима прекомпиляция!
* {% for (var i=0; i<2; i++) { %}...{% } %} - управляющие структуры на яваскрипте
  NB: не забудьте фигурные скобки!
  Доступ к хеш-массиву подстановок: ctx[...]
  Доступ к шаблонизатору: tpl.render...
  Структура выполнения не поддерживает замыканий



	</pre>
</body>
</html>


